<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">PHAN BA DU</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="user-avatar" src="https://scontent.fdad3-4.fna.fbcdn.net/v/t39.30808-6/363321386_1165496951519862_4056136368458591629_n.jpg?_nc_cat=101&cb=99be929b-59f725be&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=wXTJ0GxriS0AX9KEMEX&_nc_ht=scontent.fdad3-4.fna&oh=00_AfAfa-nRJMcWzYOVSZlRzETjtvFfrubmmLzBHJ0qmZd-zA&oe=64CB74A9" alt="">
                        Phan Bá Đủ
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/courses/create">Đăng khóa học</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/me/stored/news">Bài viết của tôi</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Đăng xuất</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>